<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nik Nak Ecommerce Store</title>
    {{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> --}}
    <link rel="stylesheet" type="text/css" href="/css/simple.css">
</head>

<body>
    <header>
        
        <h1 id="logo"><a href="/">Nik Nak</a></h1>
        <a href="/"><img id="logo-image" src="/images/NIkNak_Logo.png" alt="Shopping bag logo">
        </a>
        <div>
            <input class="search-bar" type="text" placeholder="Search for Anything " size="200" height="50">
            <button id="search-button" class="custom-button" type="button">Search</button>
            <span id="signin"><a href="/login">Sign-in </a></span>
            <span id="Cart"><a href="/cart">Cart </a></span> <span id="cart-quantity"></span>
        </div>

    </header>
    <div>
        <hr class="divide">
    </div>
    <nav>
        <div class="Nav-links-Container">
            <ul>
                <li class="Nav-Link"><a href="#">Home & Bath</a></li>
                <li class="Nav-Link"><a href="#">Electronics</a></li>
                <li class="Nav-Link"><a href="#">Art & Collectibles</a></li>
                <li class="Nav-Link"><a href="#">Toys & Entertainment</a></li>
                <li class="Nav-Link"><a href="#">Clothing & Accessories</a></li>
                <li class="Nav-Link"><a href="#">Tools & Equipment</a></li>
            </ul>
        </div>
    </nav>
        {{{body}}}
    <footer></footer>
</body>
</html>