<script src="../public/js/cart-details.js"></script>
{{#if cartItems}}
{{#each cartItems as |cartItem|}}
{{> cart-details}}
{{/each}}
<button id="minus-button">-</button>
<span>{{cart.count}} </span>
<button id="plus-button">+</button>
  {{else}}
  <p>There are no items in your cart.</p>
  {{/if }}
   
  <div class="row">
    <div class="col-md-12">
    {{#if cartItems}}
      <a href="/order" class="btn btn-primary">Checkout</a>
    {{else}}
      <a href="/products" class="btn btn-primary">Shop</a>
    {{/if}}
    </div>
  </div>
</div>
</script>