
{{!-- <div class="item-cards-container"> --}}
  {{#each categories as |category|}}
  <a href="/category/{{category.id}}">

  <table class="table is-fullwidth">
    <div class="tile is-parent">
      <article class="tile is-child box">
    <figure class="is-flex is-align-items-center is-justify-content-center image is-256x256">
    <img  src="/images/{{category.filename}}" alt="{{category.name}}">
    </figure>
    
    {{!-- <div class="container"> --}}
      <h4 class = "category-name"><b>{{category.name}}</b></h4>
    </article>
    </div>
  {{!-- </div> --}}
  </a>
  {{/each}}
</div>
</table>