
<div class="product-list">
    <h2>{{category.name}}</h2>
    <div class="item-cards-container">
    {{#each category.products as |product|}}
    {{>product-card}}
    {{/each}}
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/js/cartManagement.js"></script>